@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');
:root {
    font-family: 'Noto Sans', 'Roboto', sans-serif;
    --color-white: rgb(247, 234, 238);
}

body {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0;
    margin: 0;
}

.image-left {
    min-width: clamp(400px, 50vw, 900px);
    height: 100vh;
    overflow: hidden;
    background-image: url(./images/astolfo4.jpg);
}

.image-left > div {
    position: relative;
    top: 33vh;
    width: clamp(400px, 50vw, 900px);
    background-color: rgba(0, 0, 0, 10%);
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.image-left > div > h1 {
    opacity: 1;
    color: var(--color-white);
}

.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.content > * {
    padding-left: 2rem;
}

.input-form > button {
    border: none;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem 2rem;
    background-color:rgb(212, 122, 152);
    color: var(--color-white);
}

.input-form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 2rem 1rem;

    color:white;

    box-shadow: 0 0 25px 10px rgb(220, 220, 220);
}

.input-col {
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
    padding: 0.5rem 1rem;

    width: max(40%, 200px);

    background-color: rgb(255, 185, 220);
    border-radius: 10px 10px;
}

input {
    border: none;
    border-radius: 0.3rem;
    background-color: white;
    color: rgb(200, 200, 200);
}


.input-col > input:focus {
    border: none;
    border-color:rgb(220, 220, 220);
}

.input-col > input:invalid {
    border-color: red;
}

.input-col > label {
    font-size: 0.8rem;
}

#error {
    color: red;
    opacity: 0;
}

