@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');

:root {
    --bg-col-dark:   #1F2937;
    --bg-col-mid:    #e5e7eb;
    --bg-col-bright: #3882f6;
    --bg-col-light:    white;

    --text-col-darkest:  black;
    --text-col-dark:   #1F2937;
    --text-col-light:  #E5E7EB;
    --text-col-lightest: white;

    --rounded-radius: 8px;
    --page-border:    10%;

    --font-size-smallest: 16px;
    --font-size-small:    18px;
    --font-size-medium:   24px;
    --font-size-large:    36px;
    --font-size-largest:  48px;

    --font-weight-light:   200;
    --font-weight-regular: 500;
    --font-weight-bold:    700;
    --font-weight-boldest: 900;
}

body {
    font-family: Roboto;
    margin: 0;
}

.header, .top, .two, .three, .four, .footer {
    padding: 16px var(--page-border);
    margin: 0;
    display: flex;
}

h1 {
    margin: 0;
}

img {
    object-fit: cover;
    overflow: hidden;
}

/* header */

.header {
    color: var(--text-col-lightest);
    background-color: var(--bg-col-dark);

    margin: 0;

    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 24px;
    font-size: var(--font-size-smallest);
    font-weight: var(--font-weight-light);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: var(--font-size-medium);
    color: var(--text-col-light);
}

/* first content section "top" */

.top {
    background-color: var(--bg-col-dark);
    color: var(--text-col-light);

    padding: 16px var(--page-border);
    margin: 0;

    height: 500px;

    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.hero {
    font-size: var(--font-size-largest);
    font-weight: var(--font-weight-boldest);
}

.sign-up {
    background-color: var(--bg-col-bright);
    color: var(--text-col-light);
    
    border: 0;
    border-radius: var(--rounded-radius);
    padding: 4px 16px;
}

.subtitle {
    font-size: var(--font-size-small);
    color: var(--text-col-light);
    font-weight: var(--font-weight-light);
}

.top img {
    width: fit-content;
    height: 300px;
    object-position: 0% 30%;
}

/* second content area - "two" */

.two {
    flex-direction: column;
}

.showcase img {
    height: var(--item-width);
    width: var(--item-width);
    border-radius: var(--rounded-radius);
}

.showcase {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    --item-width: 200px;
}

.showcase-item {
    width: var(--item-width);
    color: var(--text-col-dark);
    font-weight: var(--font-weight-light);
    text-align: center;
}

.heading-two  {
    margin: 32px;
    text-align: center;
}

/* third content area - "three" */

.three {
    background-color: var(--bg-col-mid);

    padding-top: 32px;
    padding-bottom: 32px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: var(--font-size-large);
    font-style: italic;
    font-weight: var(--font-weight-light);
    
    padding-bottom: 0;
    margin-bottom: 0;

}

.quote-author {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    
    text-align: right;
    align-self: flex-end;
}

/* call to action section */

.four {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    width: 100%;
    background-color: var(--bg-col-bright);
    border-radius: var(--rounded-radius);
    color: var(--text-col-light);

    padding: 32px 64px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    margin:  0;
    padding: 0;
}

.sign-up-call {
    margin:  0;
    padding: 0;
}

.sign-up-two {
    background-color: var(--bg-col-bright);
    color: var(--text-col-light);
    
    border-radius: var(--rounded-radius);
    padding: 8px 40px;
    margin: 0;
    border: 2px solid var(--text-col-light);
}

/* footer */

.footer {
    background-color: var(--bg-col-dark);
    color: var(--text-col-light);
    
    height: 80px;
    
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-light);
    
    justify-content: center;
    align-items: center;
}