:root {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    width: 60vh;
    height: 60vh;

    display: grid;

    box-shadow: 0 0 20px 20px #00000011;
}

#content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

button {
    width: 150px;
}

.grid-pixel {
    box-sizing: border-box;
    background-color: rgb(43, 44, 44);
    opacity: 0;
    transition: all 2s ease-in;
}

.grid-pixel:hover {
    opacity: 1;
    transition: all 0s ease-in;
}